@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif; /* Fonte*/
}

html {
    scroll-behavior: smooth;
}
body {
    background-image: url(aura-logo.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
   position: fixed;
    height: 100px;
    width: 1300px;
    border: 3px solid black;
    margin-left: 10px; /*Margem pra não encostar na borda*/
    display: flex;
    border-radius: 80px;
    margin-top: 20px; /*Margem pra não encostar em cima*/
    z-index: 10;
    background-color: white;
}

header section {
    display: flex;
    text-align: center;
    width: 100%;
}

/*Configurações da imagem-logo*/
header img {
    width: 90px;
    height: 92px;
    border-radius: 100px;
    margin: 1px;
    display: inline;
    justify-content: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 9.5px;
}
/*Configurações dos nomes dos participantes*/
header li {
    color: rgb(0, 0, 0);
    margin-top: 35px;
    margin-left: 14px;
    font-size: 14px;
}
/*Destaque quando passar o mouse*/
header li:hover {
    font-size: 17px;
    transition: font-size 0.3s ease;
    color: rgb(255, 0, 0);
}
/*Menu "Home", "Galeria"e"Cadastro"*/

header nav {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 80px;
}

main {
    padding-top: 120px;
    margin-bottom: 50px;
    gap: 500px;
}


.integrantes  {
    position: relative; 
    margin-right: 1000px;
}

.integrantes img {
    margin-top: 10px;
    margin-left: 30px;
    width: 220px;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    transition: 0.5s ease;
    margin-bottom: 20px;
}

.integrantes:hover img {
    width: 300px;
    transition: 0.5s ease;
}

.integrantes .descricao {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 500px;
    font-size: 20px;
    transform: translateX(0);
    transition: transform 0.8s ease;
    padding: 1px;
    margin-left: 20px;
    visibility: hidden;
    color: red;
}

.integrantes:hover .descricao {
    visibility: visible;
    transform: translateX(65%);
}

footer {
    background-color: rgb(255, 255, 255);
}

footer {
    text-align: center;
}

footer img {
    display: inline;
    border-radius: 100px;
    width: 100px;
}


/* CSS DA GALERIA */

header.dagaleria{
    position: relative;
}

.maingaleria{
    width: 100%;
    height:100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.galeria{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    margin-top: 20%;
}
.single-galeria{
   position: relative;
   width: 20%; 
   height: 100%;
   margin: 0 5px;
   transition: width 1s;
}
div.galeria div.single-galeria:first-child{
    width: 35% !important;
}
div.galeria :hover div.single-galeria:first-child :hover{
    width: 20% !important;
}
div.galeria div.single-galeria:hover{
    width: 35% !important;
}
div.galeria div.single-galeria :first-child :hover{
    width: 35% !important;
}


.single-galeria img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
 }
 .info{
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 65%, transparent);
    padding: 16% 8%;
    bottom: 0%;
 }
 .info h1{
    font-size: 26px;
    color: white;
 }
 .info p{
    font-size: 14px;
    line-height: 28px;
    color: white;
 }
 .info a{
    font-size: 14px;
    line-height: 28px;
    color: gold;
    text-decoration: none;
 }
 .info a:hover{
   text-decoration: underline; 
 }